<h1>Doogle</h1>
<form action="/dictionary/search">
  <input type="text" name="word"><br>
  <input type="submit" value="Doogle Search">
</form>

<div class = 'definitions'>
  <ul>
    <% @definitions.each do |definition| %>
      <li><%= definition %></li>
    <% end %>
  </ul>
</div>
<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>
